html {
    font-size: 14px;
}

html,
body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    width: 100%;
}

header {
    font-size: 2.5em;
    margin: 0 0 0.5em 0;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
}

table {
    border-spacing: 0;
    margin: 5em auto;
    width: 70em;
    text-align: center;
}

table th {
    text-align: center;
}

table td {
    word-wrap: break-word;
    word-break: break-all;
}

table caption {
    padding: 0.4em;
    text-align: center;
}

table img {
    max-width: 70em;
}
