html {
    background-color: #151e2b;
    font-size: 14px;
}

header {
    background-color: #698495;
    border-bottom: #303d48 solid 0.2em;
    color: #151e2b;
    font-weight: bold;
}

table {
    background-color: #c3d9b8;
}

table thead {
    background-color: #65926c;
    color: #151e2b;
}

table thead.noData {
    background-color: #2f0002;
    color: #eac4e9;
}

table th {
    border: #2f4834 solid 0.1em;
}

table td {
    text-align: left;
    border: #2f4834 solid 0.1em;
    color: #000000;
}

table tr.errors500 { background-color: #d9b5a3; }
table tr.errors500 a {  color: #260002; }

table tr.errors500-frequent { background-color: #ac6f65; }
table tr.errors500-frequent a {  color: #260002; }

table tr.errors500-overload { background-color: #ae433a; }
table tr.errors500-overload a { color: #260002; }

table tr.errors400 { background-color: #b0d9d0; }
table tr.errors400 a { color: #001426; }

table tr.errors400-frequent { background-color: #74aba1; }
table tr.errors400-frequent a { color: #001426; }

table tr.errors400-overload { background-color: #29a7ae; }
table tr.errors400-overload a { color: #001426; }

table tr.errorsOther { background-color: #d4d9b2; }
table tr.errorsOther a { color: #262300; }

table tr.errorsOther-frequent { background-color: #abac65; }
table tr.errorsOther-frequent a { color: #262300; }

table tr.errorsOther-overload { background-color: #aeac2d; }
table tr.errorsOther-overload a { color: #262300; }

table caption {
    background-color: #2f4834;
    border-radius: 1em 1em 0 0;
    color: #FFFFFF;
    font-weight: bold;
}

table caption a {
    color: #FFFFFF;
}

table caption a:hover {
    color: #65926c;
}

table a {
    color: #1a3a21;
    font-weight: bold;
    text-decoration: none;
}

table a:hover {
    color: #254e73;
}