<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../libraries/jquery-ui/css/dot-luv/jquery-ui-1.10.3.custom.min.css" />
        <script src="../libraries/jquery-1.9.1.js"></script>
        <script src="../libraries/jquery-ui/js/jquery-ui-1.10.3.custom.js"></script>

        <link rel="stylesheet" type="text/css" href="../css/styling3.css" />
        <link rel="stylesheet" type="text/css" href="../css/formatting.css" />
        <script src="../domain/common.js"></script>
        <script src="../domain/scraper_list.js"></script>
        <script src="home.js"></script>
    </head>
    <body>
        <header>Google Appengine Operation Summary</header>
        <div id="tabs">
            <ul id="tab-links">
            </ul>
        </div>
        <div id="content">

        </div>
    </body>
</html>