<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/styling.css" />
    <link rel="stylesheet" type="text/css" href="../css/formatting.css" />
    <script src="../domain/common.js"></script>
    <script src="../domain/scraper.js"></script>
    <script src="home.js"></script>
</head>
<body>
<header>Google Appengine Operation Summary</header>
    <table id="7 Day Error Details Chart">
        <caption>7 Day Error Details Chart</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="7 Day Memory Usage Chart (MB)">
        <caption>7 Day Memory Usage Chart (MB)</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
</body>
</html>