<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/styling2.css" />
    <link rel="stylesheet" type="text/css" href="../css/formatting.css" />
    <script src="home.js"></script>
</head>
<body>
<header>Google Appengine Operation Summary</header>
    <table id="getXkcd">
        <caption>XKCD</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>

    <table id="7 Day Error Details Chart">
        <caption>7 Day Error Details Chart</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="7 Day Memory Usage Chart (MB)">
        <caption>7 Day Memory Usage Chart (MB)</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="getCronJobs">
        <caption>Cron Jobs - Non-Ideal Runs</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="getTaskQueues">
        <caption>Stuck Task Queues</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="getDashboardErrors">
        <caption>Dashboard Errors List</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="getLogData">
        <caption>Logs</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
    <table id="getDatastoreAdmin">
        <caption>Datastore Admin - Completed Operation Errors</caption>
        <thead class="noData"><tr><th>No data available yet</th></tr></thead>
    </table>
</body>
</html>