<!DOCTYPE html>
<html>
<head>
    <title>Stat-view Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="../domain/scraper.js"></script>
    <script src="settings.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/styling.css" />
    <link rel="stylesheet" type="text/css" href="../css/formatting.css" />
    <style>
        table {
            width: 40em;
            margin: 5em auto;
        }

        #addAppIdRow td,
        td.settingsValueCell,
        td.buttonCell, {
            text-align: center;
        }

        input, button {
            width: 90%;
        }
        td {
            padding: 3px;
        }
        .show-dashboard-row {
            width: 5em;
        }
    </style>
</head>
<body>
    <header>Settings</header>

    <table id="scraperToggles">
        <caption>Toggle Scrapers</caption>
        <thead>
            <tr>
                <th>Scrapper</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

            <!--
            <tr>
                <td>Theme</td>
                <td class="settingsValueCell">
                    <select>
                        <option>One</option>
                        <option>Two</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Error Logs Length</td>
                <td class="settingsValueCell">
                    <select>
                        <option>1 Day</option>
                        <option>2 Days</option>
                        <option>3 Days</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Min Displayed Error Occurrence</td>
                <td class="settingsValueCell"><button class="generalSettings" id="minDisplayedErrorCount"></button></td>
            </tr>
            <tr>
                <td>Paused Queues</td>
                <td class="settingsValueCell"><button class="generalSettings" id="displayPausedQueues"></button></td>
            </tr>
            <tr>
                <td>Disabled Queues</td>
                <td class="settingsValueCell"><button class="generalSettings" id="displayDisabledQueues"></button></td>
            </tr>
            <tr>
                <td># waiting tasks needed to show queue</td>
                <td class="settingsValueCell"><input type="text" /></td>
            </tr>
            <tr>
                <td># tasks run in last min needed to show queue</td>
                <td class="settingsValueCell"><input type="text" /></td>
            </tr>
            <tr>
                <td>Display On Time Successful Cron Jobs</td>
                <td class="settingsValueCell"><button class="generalSettings" id="displayOnTimeCronJobs"></button></td>
            </tr>
            -->

    <table id="appIds">
        <caption>App Ids Listed In Dropdown</caption>
        <thead>
            <tr>
                <th>App Id</th>
                <th colspan="3">Operation Buttons</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr id="addAppIdRow">
                <td>
                    <input type="text" value="" id="addAppName" />
                </td>
                <td class="buttonCell" colspan='3'>
                    <button id="addApp">Add GAE App Id</button>
                </td>
            </tr>
        </tfoot>
    </table>

    <table id="hiddenUris">
        <caption>Hidden URIs</caption>
        <thead>
            <tr>
                <th>URI</th>
                <th>Date Hidden</th>
            </tr>
        </thead>
    </table>
</body>
</html>